{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %}
	Home
{% endblock %}

{% block body_block %}
		<h1>Rango says: </h1>
		<div>
			Howdy, partner!<br />
		</div>
		<div>
			<br />
			<strong>Most Liked Categories:<br /></strong>
			{% if categories %}
			<ul>
				{% for category in categories %}
					<li>
						<a href="/rango/category/{{ category.slug }}">{{ category.name }}</a>
					</li>
				{% endfor %}
			</ul>
			{% else %}
				<strong>There are no categories present!</strong>
			{% endif %}
		</div>
		<div>
			<strong>Most Viewed Pages:<br /></strong>
			{% if pages %}
			<ul>
				{% for page in pages %}
					<li>
						<a href="{{ page.url }}">{{ page.title }}</a>
					</li>
				{% endfor %}
			{% else %}
				<strong>No pages present!</strong>
			{% endif %}
		</div>
		<div>
			<img src="{% static 'images/file_1.jpg' %}"
				alt="Picture of Man" />
		</div>
{% endblock %}
