<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<title>Rango</title>
	</head>

	<body>
		<h1>Rango says: </h1>
		<div>
			Howdy, partner!<br />
		</div>
		<div>
			<br />
			<strong>Most Liked Categories:<br /></strong>
			{% if categories %}
			<ul>
				{% for category in categories %}
					<li>
						<a href="/rango/category/{{ category.slug }}">{{ category.name }}</a>
					</li>
				{% endfor %}
			</ul>
			{% else %}
				<strong>There are no categories present!</strong>
			{% endif %}
		</div>
		<div>
			<strong>Most Viewed Pages:<br /></strong>
			{% if pages %}
			<ul>
				{% for page in pages %}
					<li>
						<a href="/rango/category/{{ page.url }}">{{ page.title }}</a>
					</li>
				{% endfor %}
			{% else %}
				<strong>No pages present!</strong>
			{% endif %}
		</div>
		<div>
			<a href='/rango/add_category/'>Add a new Category</a></br>
		</div>
		<div>
			<a href='/about'>About Page</a><br />
			<img src="{% static 'images/file_1.jpg' %}"
				alt="Picture of Man" />
		</div>
	</body>
</html>

