<!-- {% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Register User
{% endblock %}

{% block body_block %}
	<h1>About Page</h1>
	{% if registered %}
		Rango says: <strong>Thank you for registering!</strong>
		<a href="{% url 'index' %}">Return to Homepage</a>
	{% else %}
		Rango says: <strong>Register here!</strong>
		<form id='user_form' method='post' action="{% url 'register' %}"
			enctype='multipart/form-data'>

		{% csrf_token %}

		{{ user_form.as_p }}
		{{ profile_form.as_p }}

		<input type='submit' name='submit' value="Register">
		</form>
	{% endif %}
{% endblock %}




 -->